body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #800080;
  font-family: 'Century Gothic', sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 2.5px black;
  font-family: 'Bookman Old Style', sans-serif;
}

h2 {
  font-size: 2.4em;
}

p {
  font-size: 1.4em;
}

#page {
  width: 90%;
  border-radius: 25px;
  padding: 0px;
  margin: 0 auto;
}

#sidebar {
  margin-left: 120px;
}

.logo {
  width: 160px;
  height: 160px;
  position:absolute;
  margin: -40px 0 0 -155px;
}

.bottoms {
  font-size: 1.7em;
  background: black;
  border-radius: 0 15px 0 0;
  margin-left: -120px;
  padding-left: 120px;
}

.bottoms > a {
  display: inline-block;
  vertical-align: top;
  margin: 15px 10px;
  color: white;
  text-decoration: none;
  transition: color .2s linear;
}

.bottoms > a:hover {
  color: #BC32B9;
  text-decoration: none;
}

.fr{
  float: right;
}

h3 {
  font-size: 1.7em;
}

#header2 {
  background: #EAE5EB;
  height: 90px;
}

#header2 h2{
  margin: 0;
  padding-top: 20px;
  padding-left: 150px;
}

#content {
  background: #fff;
  text-align: justify;
  padding: 0px 40px 15px 40px;
  margin-top: -30px;
  border-radius: 0 0 10px 10px;
}

#content h3:first-child{
  padding-top: 20px;
}

#image {
  float: right;
  margin: 0 0 0 40px;
  width: 50%;
}

.party {
  margin: 0 auto;
  width: 100%
}

#footer {
  margin-top: 10px;
  background: #000;
  color: #fff;
  font-size: 1.4em;
  border-radius: 10px 10px 0 0;
}

/* todo media css padding-left for this */
#footer > span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 670px;
}

#footer .text{
  display: inline-block;
  position: relative;
  top: -13px;
  padding-bottom: 13px;
}

#footer img{
  position: relative;
  top: 10px;
  border-radius: 50%;
}

.logo2 {
  width: 60px;
  height: 60px;
}


